@{
    ViewData["Title"] = "Cabañas";

}
<body>
<h1>Grupos de Trabajo - Programacion - Equipo Inovacion</h1>
<img src=Imagenes/Logo> 
    @foreach(Cabaña item in viewBag.cabañas)
    {
     <a href= @Url.Action("Cabañas", "Home" new (cabañas item)) Ver info de item</a>
    }
<section>    
<div>
    <h2>La cabaña 1 es @viewBag.cabañas[0].getName()</h2>
    <h3>ID: @viewBag.cabañas[0].getID()</h3>
    <h3>Descripcion: @viewBag.cabañas[0].getDescription()</h3>
    <h3>ID: @viewBag.cabañas[0].getID()</h3>
    @for(int i = 0; i < @viewBag.cabañas[0].getImages().Count; i++)
    {
        @Console.WriteLine(@viewBag.cabañas[0].getImages()[i]);
    }
    @for(int i = 0; i < @viewBag.cabañas[0].getEnvironments().Count; i++)
    {
        <h3>(@(viewBag.cabañas[0].getEnvironments())[i]);</h3>
    }
    @viewBag.cabañas[cabañas[0].getID()];
</div>
<div>
    <h2>La cabaña 2 es @viewBag.cabañas[1].getName()</h2>
    <h3>ID: @viewBag.cabañas[1].getID()</h3>
    <h3>Descripcion: @viewBag.cabañas[1].getDescription()</h3>
    <h3>ID: @viewBag.cabañas[1].getID()</h3>
    @for(int i = 0; i < @viewBag.cabañas[1].getImages().Count; i++)
    {
        @Console.WriteLine(@viewBag.cabañas[0].getImages()[i]);
    }
    @for(int i = 1; i < @viewBag.cabañas[1].getEnvironments().Count; i++)
    {
        <h3>(@(viewBag.cabañas[1].getEnvironments())[i]);</h3>
    }
    @viewBag.cabañas[cabañas[1].getID()];
</div>
<div>
    <h2>La cabaña 3 es @viewBag.cabañas[2].getName()</h2>
    <h3>ID: @viewBag.cabañas[2].getID()</h3>
    <h3>Descripcion: @viewBag.cabañas[1].getDescription()</h3>
    <h3>ID: @viewBag.cabañas[2].getID()</h3>
    @for(int i = 0; i < @viewBag.cabañas[2].getImages().Count; i++)
    {
        @Console.WriteLine(@viewBag.cabañas[2].getImages()[i]);
    }
    @for(int i = 1; i < @viewBag.cabañas[2].getEnvironments().Count; i++)
    {
        <h3>(@(viewBag.cabañas[2].getEnvironments())[i]);</h3>
    }
    @viewBag.cabañas[cabañas[2].getID()];
</div>
<div>
    <h2>La cabaña 1 es @viewBag.cabañas[1].getName()</h2>
    <h3>ID: @viewBag.cabañas[1].getID()</h3>
    <h3>Descripcion: @viewBag.cabañas[1].getDescription()</h3>
    <h3>ID: @viewBag.cabañas[1].getID()</h3>
    @for(int i = 0; i < @viewBag.cabañas[1].getImages().Count; i++)
    {
        @Console.WriteLine(@viewBag.cabañas[0].getImages()[i]);
    }
    @for(int i = 1; i < @viewBag.cabañas[1].getEnvironments().Count; i++)
    {
        <h3>(@(viewBag.cabañas[1].getEnvironments())[i]);</h3>
    }
    @viewBag.cabañas[cabañas[1].getID()];
</div>
</section>       
</body>

